@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark: #1F2937;
    --gray-one: #E5E7EB;
    --gray-two: #1F2937;
    --blue: #3882F6;
    --white: #F9FAF8;
}

/* global styling */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 58px;
    font-weight: 900;
    color: var(--white);
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark);
}

button {
    padding: 5px 32px;
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    background: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* container */
.container {
    padding: 0 15%;
}

/* header and navbar */
#header {
    width: 100%;
    padding: 15px 15%;
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    position: fixed;
    top: 0;
}

#header-logo {
    font-size: 34px;
}

#navbar li {
    margin-right: 20px;
    display: inline;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray-one);
}

#navbar a {
    text-decoration: none;
    color: var(--white)
}

/* hero */
#hero {
    height: 50vh;
    margin-top: 3rem;
    padding: 4rem 15%;
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    overflow: hidden;
}

#hero-info {
    width: 45%;
}

#hero-title, #hero-subtext {
    margin-bottom: 20px;
}

#hero-subtext {
    font-size: 24px;
    color: var(--gray-one);
}

#hero-img {
    max-height: 100%;
    width: auto;
    display: block;
}
