@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark: #1F2937;
    --gray-one: #E5E7EB;
    --gray-two: #1F2937;
    --blue: #3882F6;
    --white: #F9FAF8;
}

/* global styling */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 58px;
    font-weight: 900;
    color: var(--white);
}

h2 {
    font-size: 46px;
    font-weight: 900;
    color: var(--dark);
}

h3 {
    font-size: 34px;
}

button {
    padding: 7px 34px;
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    background: var(--blue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* container */
.container {
    padding: 0 15%;
}

/* header and navbar */
#header {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    position: fixed;
    top: 0;
}

#header-logo {
    font-size: 34px;
}

#navbar li {
    margin-right: 20px;
    display: inline;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray-one);
}

#navbar a {
    text-decoration: none;
    color: var(--white)
}

/* hero */
#hero-section {
    height: 50vh;
    margin-top: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    overflow: hidden;
}

#hero-info {
    width: 45%;
}

#hero-title, #hero-subtext {
    margin-bottom: 20px;
}

#hero-subtext {
    font-size: 24px;
    color: var(--gray-one);
}

#hero-img {
    max-height: 100%;
    width: auto;
    display: block;
}

/* information */
#info-section {
    height: 50vh;
    margin: 3rem 0;
    text-align: center;
    background: var(--white);
}

#info-row {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.illustration {
    height: 280px;
    width: 280px;
    /* border: 6px solid var(--blue); */
    /* border: none; */
    border-radius: 20px;
}

#img-one {
    background: url(images/image6.jpg);
}

#img-two {
    background: url(images/image3.jpg);
}

#img-three {
    background: url(images/image4.jpg);
}

#img-four {
    background: url(images/image5.jpg);
}

.subtext {
    width: 280px;
    margin-top: 10px;
    font-size: 22px;
    color: var(--gray-two);
}

/* quote */
#quote-section {
    height: 50vh;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-two);
    background: var(--gray-one);
}

#quote {
    padding: 10px 0;
    width: 80%;
    font-size: 43px;
    font-weight: 300;
    font-style: italic;
}

#source {
    width: 80%;
    font-size: 33px;
    font-weight: 700;
    text-align: right;
}

/* advertisement */
#advert-section {
    height: 30vh;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    background: var(--white);
}

#ad {
    width: 100%;
    padding: 3.5rem 8rem;
    display: flex;
    justify-content: space-between;
    background: var(--blue);
    border-radius: 10px;
}

#ad-subtext {
    margin-top: 5px;
    font-size: 22px;
}

#ad-btn {
    height: 48px;
    margin-top: 15px;
    padding: 0 34px;
    display: inline-block;
    border: 2px solid var(--white);
}

/* footer */
footer {
    height: 10vh;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--dark);
}