@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark: #1F2937;
    --gray-one: #E5E7EB;
    --gray-two: #1F2937;
    --blue: #3882F6;
    --white: #F9FAF8;
}

/* global styling */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--white);
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark);
}

button {
    padding: 5px 32px;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    background: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* container */
.container {
    padding: 0 10%;
}

/* header and navbar */
#header {
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    position: fixed;
    top: 0;
}

#header-logo {
    font-size: 24px;
}

#navbar li {
    margin-right: 15px;
    display: inline;
    list-style: none;
    line-height: 30px;
    color: var(--gray-one);
}

#navbar a {
    text-decoration: none;
    color: var(--white)
}

/* hero */
#hero {
    margin-top: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background: var(--dark);
}

#hero-title, #hero-subtext {
    margin-bottom: 20px;
}

#hero-subtext {
    font-size: 18px;
    color: var(--gray-one);
}

#hero-img {
    width: 50%;
    min-width: 400px;
    max-width: 700px;
}