@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --dark: #1F2937; */
    --dark: #1c2531;
    --gray-one: #E5E7EB;
    --gray-two: #1F2937;
    --blue: #3882F6;
    --white: #F9FAF8;
}

/* global styling */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 64px;
    font-weight: 900;
    color: var(--white);
}

h2 {
    font-size: 46px;
    font-weight: 900;
    /* color: var(--dark); */
    color: var(--white);
}

h3 {
    font-size: 34px;
}

a {
    color: var(--white);
    text-decoration: none;
}

i {
    margin-right: 10px;
    color: var(--white);
}

/* container */
.container {
    padding: 0 15%;
}

/* header and navbar */
#header {
    width: 100%;
    margin: 0;
    padding: 13px 2.5rem 7px;
    display: flex;
    justify-content: space-between;
    /* background: var(--dark); */
    background: linear-gradient(
        60deg,
        var(--dark),
        #171e28,
        #121720
    );
    position: fixed;
    top: 0;
}

#header-logo {
    font-size: 34px;
}


#navbar li {
    margin-left: 30px;
    display: inline;
    list-style: none;
    font-size: 20px;
    line-height: 50px;
    color: var(--gray-one);
}

#navbar a {
    text-decoration: none;
    color: var(--white)
}

/* hero */
#hero-section {
    height: 100vh;
    margin-top: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--dark); */
    background: url(../images/image8.jpg);
    overflow: hidden;
    text-align: center;
}

#hero-info {
    width: 100%;
}

#hero-subtext {
    margin-top: 30px;
    margin-bottom: 54px;
    font-size: 32px;
    -webkit-text-stroke: 0.2px black;
    color: var(--gray-one);
}

#get-started-btn {
    padding: 20px 3rem;
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    background: none;
    border: 3px solid var(--white);
    border-radius: 10px;
    cursor: pointer;
}

#hero-img {
    max-height: 100%;
    width: auto;
    display: none;
}

/* information */
#info-section {
    padding: 3rem 15%;
    text-align: center;
    color: var(--white);
    /* background: var(--white); */
    background: linear-gradient(
        60deg,
        var(--dark),
        #171e28,
        #121720
    );
}

#info-row {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}


.product {
    margin: 10px auto;
    padding: 2px;
    font-size: 30px;
}

.price {
    margin: 0 auto;
    padding: 2px;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    border: 2px solid var(--white);
    border-radius: 5px;
    width: 60%;
}

.illustration {
    height: 280px;
    width: 280px;
    /* border: 6px solid var(--blue); */
    /* border: none; */
    border-radius: 20px;
}

#img-one {
    background: url(../images/image6.jpg);
}

#img-two {
    background: url(../images/image3.jpg);
}

#img-three {
    background: url(../images/image4.jpg);
}

#img-four {
    background: url(../images/image5.jpg);
}

.info-subtext {
    width: 280px;
    margin-top: 10px;
    font-size: 22px;
    /* color: var(--gray-two); */
}

/* quote */
#quote-section {
    height: 50vh;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-two);
    background: var(--gray-one);
}

#quote {
    padding: 10px 0;
    width: 80%;
    font-size: 43px;
    font-weight: 300;
    font-style: italic;
}

#source {
    width: 80%;
    font-size: 33px;
    font-weight: 700;
    text-align: right;
}

/* advertisement */
#advert-section {
    height: 30vh;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    background: var(--white);
}

#ad {
    width: 100%;
    padding: 3.5rem 8rem;
    display: flex;
    justify-content: space-between;
    background: var(--blue);
    border-radius: 10px;
}

#ad-subtext {
    margin-top: 5px;
    font-size: 22px;
}

#ad-btn {
    height: 48px;
    margin-top: 15px;
    padding: 0 34px;
    display: inline-block;
    border: 2px solid var(--white);
}

/* footer */
footer {
    height: 10vh;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--dark);
}