@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --dark: #1F2937; */
    --dark: #1c2531;
    --gray-one: #E5E7EB;
    --gray-two: #1F2937;
    --blue: #3882F6;
    --white: #F9FAF8;
}

/* global styling */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 64px;
    font-weight: 900;
    color: var(--white);
}

h2 {
    font-size: 46px;
    font-weight: 900;
    /* color: var(--dark); */
    color: var(--white);
}

h3 {
    font-size: 34px;
}

li {
    list-style: none;
    display: inline;
}

a {
    color: var(--white);
    text-decoration: none;
}

i {
    margin-right: 10px;
    color: var(--white);
}

/* container */
.container, footer {
    padding: 3rem 15%;
    background: linear-gradient(
        60deg,
        var(--dark),
        #171e28,
        #121720
    );
    border-bottom: 4px solid #121720;
}

/* header and navbar */
#header {
    width: 100%;
    margin: 0;
    padding: 13px 2.5rem 7px;
    display: flex;
    justify-content: space-between;
    /* background: var(--dark); */
    position: fixed;
    top: 0;
}

#header-logo {
    font-size: 34px;
}


#navbar li {
    margin-left: 30px;
    font-size: 20px;
    line-height: 50px;
    transition: all 130ms ease-in-out;
}

#navbar li:hover {
    border-bottom: 2px solid var(--white);
    padding-bottom: 3px;
}

#navbar a {
    text-decoration: none;
    color: var(--white)
}

/* hero */
#hero-section {
    height: 100vh;
    margin-top: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--dark); */
    background: url(../images/image8.jpg);
    overflow: hidden;
    text-align: center;
}

#hero-info {
    width: 100%;
}

#hero-subtext {
    margin-top: 30px;
    margin-bottom: 54px;
    font-size: 32px;
    -webkit-text-stroke: 0.2px black;
    color: var(--gray-one);
}

#get-started-btn {
    padding: 20px 3rem;
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    background: none;
    border: 3px solid var(--white);
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

#get-started-btn:hover {
    background: var(--white);
    color: #262521;
    padding: 20px 3.7rem;
}

#hero-img {
    max-height: 100%;
    width: auto;
    display: none;
}

/* information */
#info-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    color: var(--white);
    border-top: 4px solid #121720;
}

#info-row {
    margin: 3rem 0 1rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.product {
    margin: 10px auto 0;
    padding: 2px;
    font-size: 30px;
}

.mouseover {
    margin: 0 auto;
    height: 2px;
    width: 0%;
    background: var(--white);
    transition: all 350ms ease-in-out;
}

.product-name:hover .mouseover {
    width: 55%;
}

.price {
    margin: 13px auto 10px;
    padding: 2px;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    border: 2px solid var(--white);
    border-radius: 5px;
    width: 60%;
}

.illustration {
    height: 280px;
    width: 280px;
    /* border: 6px solid var(--blue); */
    /* border: none; */
    border-radius: 20px;
}

#img-one {
    background: url(../images/image6.jpg);
}

#img-two {
    background: url(../images/image3.jpg);
}

#img-three {
    background: url(../images/image4.jpg);
}

#img-four {
    background: url(../images/image5.jpg);
}

.info-subtext {
    width: 280px;
    font-size: 22px;
    /* color: var(--gray-two); */
}

/* quote */
#quote-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #0c0f15; */
    color: var(--white);
    background: url(../images/image9.jpg);
    border: none;
}

#quote {
    padding: 20px 0;
    width: 80%;
    font-size: 43px;
    font-weight: 300;
    font-style: italic;
    -webkit-text-stroke: 0.2px black;
    transition: all 300ms ease-in-out;
}

#quote:hover {
    width: 87%;
    font-size: 49px;
}

#source {
    width: 80%;
    font-size: 33px;
    font-weight: 700;
    text-align: right;
}

/* contact */
#contact-section {
    padding-top: 5rem;
    padding-bottom: 6rem;
    font-size: 38px;
    border-top: 4px solid #121720;
}

#contact-heading {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

#contact-list {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

#contact-list > a {
    transition: transform 270ms ease-out;
}

#contact-list > a:hover {
    transform: translateY(-8px);
}

/* advertisement */
#advert-section {
    display: flex;
    align-items: center;
    background: linear-gradient(
        60deg,
        #e4e4e4,
        40% var(--white),
        #e4e4e4
    );
    color: #171e28;
    border: none;
}

#ad {
    width: 100%;
    padding: 3.5rem 8rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border: 4px solid #171e28;
    border-radius: 10px;
    filter: none;
}

#ad > div {
    width: 80%;
    margin-top: 15px;
}

#ad-subtext {
    margin-top: 5px;
    font-size: 22px;
}

#ad-btn {
    width: 20%;
    height: 5rem;
    margin-top: 13px;
    color: #171e28;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 4px solid #171e28;
    border-radius: 10px;
    transition: all 180ms ease-in-out;
}

#ad-btn:hover {
    background: #171e28;
    color: var(--white);
}

/* footer */
footer {
    padding: 2rem;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 4px solid #121720;
}

footer a {
    transition: all 80ms ease-in-out;
}

footer a:hover {
    border-bottom: 2px solid var(--white);
    padding-bottom: 2px;
}

span {
    margin-left: 3px;
}

#note {
    margin-top: 20px;
    font-size: 15px;
}

/* media queries */
@media (max-width: 1850px) {
    #ad {
        gap: 5rem;
    }

    #ad > div {
        width: 65%;
        margin: 0;
    }

    #ad-btn {
        height: 5rem;
        width: 25%;
        font-size: 30px;
    }
}

@media (max-width: 1540px) {
    #quote-section {
        background: url(../images/image10.jpg);
    }

    #ad > div {
        width: 64%;
        margin-top: 12px;
    }

    #ad-btn {
        margin-top: 3.2rem;
    }

}

@media (max-width: 1400px) {
    #info-row {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #ad > div {
        width: 60%;
    }

    #ad-btn {
        margin-top: 3.8rem;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 3rem 9%;
    }
}

@media (max-width: 1030px) {
    .container {
        padding: 3rem 5%;
    }

    #quote-section {
        background: url(../images/image11.jpg)
    }

    #contact-section {
        padding: 5rem 15% 6rem;
    }

    #contact-list {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 4rem;
    }
}

@media (max-width: 850px) {
    #header, #ad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #navbar {
        margin-top: 8px;
    }

    #navbar li:not(#navbar li:first-of-type) {
        margin-left: 4rem;
    }

    #ad {
        gap: 2rem;
    }

    #ad > div, #ad-btn {
        width: 80%;
        margin: 0 auto;
    }
}